#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jangouts"
name = "Jangouts"
description.en = "Videoconferencing based on WebRTC and Janus Gateway with an UI inspired by Google Hangouts"
description.fr = "Vidéoconférence basée sur WebRTC et Janus Gateway avec une interface inspirée de Google Hangouts"

version = "0.6.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
code = "https://github.com/jangouts/jangouts"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jangouts"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/jangouts/jangouts/archive/refs/tags/v0.6.0.tar.gz"
    sha256 = "adc00644f332bba4849f5e96f68048ee56dd16b9ded1177d670fc0c9b4bdf77d"

    # autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "janus"
